*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 100%;
    height: 10vh;
    background-color: #000;
}

.hero-section{
    width: 100%;
    height: 70vh;
    background-color: #808668;
}

.top-section{
    width: 100%;
    height: auto;
    background-color: purple;
}

.heading-part{
    width: 100%;
    height: 15vh;
    background-color: yellow;
}

.image-gallery{
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.image-gallery img{
    width: 200px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    border: white 3px solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.child{
    width: 20%;
    height: auto;
    background-color: rgb(134, 87, 0);
}
.image-container{
    width: 100%;
    height: auto;
    background-color: blue;
    display: flex;
    justify-content: center;
}

.content-container{
    width: 100%;
    height: auto;
    background-color: rgba(2, 116, 53, 0.534);
    text-align: center;
}

.content-container h3{
    padding: 0.5rem;
}

.review{
    width: 100%;
    height: 50vh;
    background-color: aqua;
    display: flex;
}

.first-div{
    width: 50%;
    height: 100%;
    background-color: aquamarine;
}

.second-div{
    width: 50%;
    height: 100%;
    background-color: rgb(11, 119, 83);
}

